<!-- registration form -->

<div class="registrationForm">

    <form>
        <h2>Registration Form</h2>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="userType">Hello, please choose your user type.</label>
                <select [(ngModel)]="userChoice" id="userType" name="userType" class="form-control">
                    <option selected>Basic User</option>
                    <option>Business User</option>
                </select>
            </div>
        </div>

        <p> {{ userChoice }} </p>

        <!-- THROW AN NG IF HERE -->
        <div *ngIf="userChoice === 'Basic User'">

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputEventDate">Date of event</label>
                    <input type="date" name="date" class="form-control" id="date" max="9999-12-31" required="required">

                </div>

                <div class="form-group col-md-4">
                    <label for="inputEventTime">Time of event</label>
                    <input type="time" name="time" class="form-control" id="time" required="required">

                </div>

                <div class="form-group col-md-4">
                    <label for="inputEventLocation">Location of event</label>
                    <input type="text" name="location" class="form-control" id="location" placeholder="Location"
                        required="required">
                </div>
            </div>

            <div class="form-group">
                <label for="inputDescription">Description</label>
                <textarea name="description" class="form-control" id="description" rows="2"
                    required="required"></textarea>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="inputCost">Cost of event</label>
                    <input type="number" name="cost" min="0" class="form-control" id="costOfEvent" placeholder="Cost"
                        required="required">
                </div>



                <div class="form-group col-md-3">
                    <label for="inputGradingFormat">Grading Format</label>
                    <select id="inputGradingFormat" name="gradingFormat" class="form-control">
                        <option selected>0-100</option>
                        <option>A-F</option>
                        <option>Pass/Fail</option>
                        <option>Presentation</option>
                    </select>
                </div>

            </div>

            <div class="form-group">
                <label for="passingGradeInput">Passing Grade</label>
                <input type="text" name="passingGrade" class="form-control" id="passingGradeInput"
                    placeholder="Passing Grade - If Presentation Leave Blank">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

    </form>
</div>